.showcontents
  .header
    %h1 Curriculum
    %h2 アプリケーション作成の過程で、様々な機能の学習をいたしました
  .container
    .container-left
      .container-left_one
        Pictweet
      .container-left_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-left_three
        %p Explanatory note
        %button#open Open
        #overlay
        #modalWindow
          %img{src: "/photo/pictweet.png"}
          %h3 「Pictweet」とは画像と文字を投稿していくシンプルなアプリケーションです
          %h5  新規Railsアプリケーションやデータベースの作成と開発準備の学習
          %h4  ・linuxコマンド・Gem・データベース・mysql・Sequel Pro
          %h5  ルーティング、コントローラ、ビューについて理解
          %h5  モデルを使ったデータベースとのやりとりの仕組みについて理解し、データの保存やデータの呼び出しについて学習
          %h4  ・DB設計・ER図の作成・モデルとテーブル・テーブルのレコードとカラム・migration
          %h4  ・コンソール・ActiveRecord・SQL・ヘルパーメソッド・MVC
          %h5  入力画面の作成の学習
          %h4  ・投稿フォームの実装・form_tag・HTTPメソッド・params・ストロングパラメーター・privateメソッド
          %h5  追加機能の実装
          %h4  ・ログイン機能・サインアップ機能・削除機能・更新機能・コメント機能
          %h4  ・デバッグツールの使い方・orderメソッド・ページネーション・devise・link_toメソッド
          %h4  ・prefix・unless文・redirect_toメソッド・before_action・アソシエーション
          %h4  ・patchメソッド・HTTPリクエスト・部分テンプレート
          %h4
          %button#close Close
    .container-center
      .container-center_one
        Nekotter
      .container-center_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-center_three
        %p Explanatory note
        %button#open02 Open
        #overlay02
        #modalWindow02
          %img{src: "/photo/dry2.jpg"}
          %h3 「Nekotter」とは「Pictweet」の知識の復習用アプリケーションです
          %h5  * Pictweetの簡易版
          %h5  * 投稿する際にtextが入力できる
          %h5  * 表示される画像(猫の画像)・投稿者名は同じで、ログイン機能もない
          %h4
          %button#close02 Close
    .container-right
      .container-right_one
        Mooovi
      .container-right_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-right_three
        %p Explanatory note
        %button#open03 Open
        #overlay03
        #modalWindow03
          %img{src: "/photo/dry2.jpg"}
          %h3 「Mooovi」とは映画のレビューを投稿・閲覧できるレビューサイトです
          %h5  Mechanizeを使ったスクレイピング
          %h4  ・インスタンスの生成・インスタンスメソッドでHTML情報を取得・LIKE句
          %h5  投稿機能
          %h4  ・投稿フォームの作成・form_for・データ保存・mergeメソッド・リダイレクト・resourcesメソッドのネスト・params[:id]
          %h5  レビューの評価機能
          %h4  ・ActiveRecord Relationクラス・averageメソッド・roundメソッド・レシーバ・self
          %h5  ランキング機能
          %h4  ・before_action・コントローラの継承・groupメソッド・countメソッド・keysメソッド・mapメソッド
          %h5  ログイン機能、サインアップ機能、ログアウト機能
          %h4  ・バリデーションの設定・アソシエーション
          %h5  画像のアップロード機能
          %h4  ・ImageMagick・Active Storage
          %h4
          %button#close03 Close
  .footer
    %p
      %a.btn.btn-black{href: "/pages", role: "button"} TOP PAGE