.showcontents
  .header
    Curriculum
  .container
    .container-left
      .container-left_one
        Pictweet
      .container-left_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-left_three
        Explanation note
    .container-center
      .container-center_one
        Nekotter
      .container-center_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-center_three
        Explanation note
    .container-right
      .container-right_one
        Mooovi
      .container-right_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-right_three
        Explanation note
  .footer
    %p
      %a.btn.btn-black{href: "/pages", role: "button"} TOP PAGE