.showcontents
  .header
    Curriculum
  .container
    .container-left
      .container-left_one
        Pictweet
      .container-left_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-left_three
        %p Explanatory note
        %button#open Open
        #overlay
        #modalWindow
          %p Explanatory text Explanatory text Explanatory text Explanatory text Explanatory text
          %button#close Close
    .container-center
      .container-center_one
        Nekotter
      .container-center_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-center_three
        %p Explanatory note
        %button#open02 Open
        #overlay02
        #modalWindow02
          %p Explanatory text Explanatory text Explanatory text Explanatory text Explanatory text
          %button#close02 Close
    .container-right
      .container-right_one
        Mooovi
      .container-right_two
        = link_to "https://github.com/omatsu71/", class: "contents__btn" do
          = icon('fab', 'github')
      .container-right_three
        %p Explanatory note
        %button#open03 Open
        #overlay03
        #modalWindow03
          %p Explanatory text Explanatory text Explanatory text Explanatory text Explanatory text
          %button#close03 Close
  .footer
    %p
      %a.btn.btn-black{href: "/pages", role: "button"} TOP PAGE